blockChangesPerSecond=80000
brush {
    blend {
        blendDefaultKernalShape=voxel
        blendDefaultKernalSize=1.0
    }
    clearsnow {
        fillDefault=true
    }
    cylinder {
        cylDefaultFace=false
    }
    disc {
        discDefaultFace=false
    }
    ellipse {
        ellipseDefaultFace=false
    }
    heatray {
        airDensity=0.2
        cobbleDensity=0.7
        fireDensity=-0.4
        obsidianDensity=0.8
    }
    linearblend {
        linearblendDefaultKernalShape=voxel
        linearblendDefaultKernalSize=2.0
    }
    random {
        randomDefaultChance=0.5
    }
    splatter {
        splatterDefaultGrowth=0.1
        splatterDefaultRecursions=3
        splatterDefaultSeed=0.1
        splatterMaxRecursions=10
    }
    voxeldisc {
        voxeldiscDefaultFace=false
    }
}
caseSensitiveAliases=true
defaults {
    defaultBrush="voxel material"
    defaultBrushMaterial=AIR
    defaultBrushSize=3.0
}
generateDefaultAliases=true
messages {
    brush {
        brushExecError="&4Error executing brush, see console for more details."
        brushPermissionMessage="&4You do not have permission for the %s brush"
        missingAltMaterial="&cYou must select a secondary material."
        missingMaterial="&cYou must select a material."
        missingParam="&cMissing required parameter %s for the %s brush."
        missingShape="&cYou must have at least one shape before your %s brush."
        paramHeader="&6Parameters for &a%s&6:"
        paramInfo="&a    %s&6 - &e%s"
        set {
            setFirstPoint="&aSet first point to (%d, %d, %d)."
            setSecondPoint="&aSet second point to (%d, %d, %d)."
        }
    }
    command {
        alias {
            aliasNotFound="&cAlias target &9%s&c was not found in %s registry."
            aliasSet="&aAdded alias mapping &9'%s'&a to &9'%s'"
        }
        brush {
            brushNotFoundMessage="&cCould not find a brush part named &6%s"
            brushSetMessage="&aYour brush has been set to &6%s"
            brushSizeChangedMessage="&aYour brush size was changed to &6%.1f"
            defaultBrushHelpMessage="&cNo help is provided for this brush part."
            effectBeforeShape="&eYou specified an effect without a shape preceeding it."
            shapeWithoutEffect1="&eYou specified a shape without an effect. Defaulting to a material effect."
            shapeWithoutEffect2="&eTo avoid this message use '/b %s material' in the future."
        }
        commandPlayerOnly="Sorry this is a player-only command."
        defaultHelpMessage="&cNo help is provided for this command."
        help {
            brushHelpFormat="&a%s&6: &b%s"
        }
        material {
            materialNotFoundMessage="&cCould not find that material."
            materialSetMessage="&aSet material to &6%s"
            noTargetBlock="&cCould not fetch your target block"
        }
        materialmask {
            materialMaskSetMessage="&aSet secondary material to &6%s"
        }
        parameter {
            paramSet="&aSet brush parameter &9'%s'&a to &9'%s'"
        }
        permissionsRequiredMessage="&4You require permission in order to perform this command."
        redo {
            redoMessage="&a%d changes re-applied."
        }
        redoother {
            redootherMessage="&aRedoing %s's last %d undone changes"
        }
        undo {
            undoMessage="&a%d changes undone."
        }
        undoother {
            playerNotFound="&cSorry, we could not find that player."
            undootherMessage="&aUndoing %s's last %d changes"
        }
        vs {
            globalSet="&aSet global parameter &9'%s'&a to &9'%s'"
            vsConfigReloadFailed="&cFailed to reload configuration from file. Check console for errors."
            vsConfigReloadSuccess="&aSuccessfully reloaded configuration from file."
            vsInternal="&cCannot set internal value manually."
            vsRangeReset="&aReset your maximum range to %d"
            vsRangeSet="&aSet your maximum range to %d"
        }
    }
}
playerDataDirectory="players/"
rayTraceRange=250.0
statusMessageThreshold=80000
undoHistorySize=20
useUUIDsForDataDirectories=true
