*.jar
*.off
*.swp
CoreProtect/config.yml
PerWorldInventory/data/
BCC/players/
GriefPreventionData/PlayerData/
GriefPreventionData/Logs/
Essentials/userdata/
AsyncWorldEdit/undo/
CommandHelper/logs/
CommandHelper/.cache/
CommandHelper/persistance.db
MassiveCore/idnamecache.json
Essentials/usermap.csv
PerPlayerBlood/players/
